<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Anagram Finder</title>

</head>
<body>
  <div class="container">
  <h3>Anagram Engine</h3>
  <form action="/anagramlist" method="post">
    <label for="baseWord">Base Word</label>
    <input id="baseWord" name="baseWord" type="text">
    <h5>Enter up to 5 words to search for anagrams:</h5>
    <label for="compWord1">Word 1:</label>
    <input id="compWord1" name="compWord1" type="text">
    <label for="compWord2">Word 2:</label>
    <input id="compWord2" name="compWord2" type="text">
    <label for="compWord3">Word 3:</label>
    <input id="compWord3" name="compWord3" type="text">
    <label for="compWord4">Word 4:</label>
    <input id="compWord4" name="compWord4" type="text">
    <label for="compWord5">Word 5:</label>
    <input id="compWord5" name="compWord5" type="text">

  </form>


  </div>
</body>
</html>